<h1>Listing teas</h1>

<% cache("teas-#{@order}", :skip_digest => true) do %>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th><%= link_to 'Name', teas_path(:order => 'name') %></th>
        <th><%= link_to 'Variety', teas_path(:order => 'variety') %></th>
        <th><%= link_to 'Brewery', teas_path(:order => 'brewery') %></th>
      </tr>
    </thead>

    <tbody>
      <% @teas.each do |tea| %>
        <tr>
          <td><%= link_to tea.name, tea %></td>
          <td><%= link_to tea.variety, tea.variety %></td>
          <td><%= link_to tea.brewery.name, tea.brewery %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Tea', new_tea_path, :class => 'btn' unless current_user.nil? %>
