<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tea.name %>
</p>

<p>
  <strong>Variety:</strong>
  <%= link_to @tea.variety, @tea.variety %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= link_to @tea.brewery.name, @tea.brewery %>
</p>

<% if @tea.ratings.empty? %>
  <p>No ratings.</p>
<% else %>
  <p><%= pluralize(@tea.ratings.size, 'rating') %> with an average of <%= round(@tea.average_rating) %>.</p>
<% end %>

<% unless current_user.nil? %>

  <%= form_for(@rating) do |f| %>

    <%= f.hidden_field :tea_id %>
    Score: <%= f.number_field :score %>
    <%= f.submit 'Rate', :class => 'btn' %>

  <% end %>

<% end %>

<%= edit_and_destroy_buttons(@tea) unless current_user.nil? %>
