<h1>Listing varieties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <% unless current_user.nil? %><th></th><% end %>
      <% if !current_user.nil? and current_user.admin? %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @varieties.each do |variety| %>
      <tr>
        <td><%= link_to variety.name, variety %></td>
        <td><%= variety.description.truncate(100) %></td>
        <% unless current_user.nil? %><td><%= link_to 'Edit', edit_variety_path(variety) %></td><% end %>
        <% if !current_user.nil? and current_user.admin? %><td><%= link_to 'Destroy', variety, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variety', new_variety_path unless current_user.nil? %>
