<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>

  <p>No ratings.</p>

<% else %>

  <h2>Ratings</h2>

  <p><%= pluralize(@user.ratings.size, 'rating') %> with an average of <%= @user.average_rating %>.</p>

  <dl>

    <dt><b>Favourite tea</b></dt>
    <dd><%= @user.favourite_tea.name %></dd>

    <dt><b>Favourite variety</b></dt>
    <dd><%= @user.favourite_variety %></dd>

    <dt><b>Favourite brewery</b></dt>
    <dd><%= @user.favourite_brewery.name %></dd>

  </dl>

  <ul>
    <% @user.ratings.each do |rating| %>
      <li>

        <%= rating %>

        <% if currently_signed_in?(@user) %>
          <%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

      </li>
    <% end %>
  </ul>

<% end %>

<% unless @user.tea_clubs.empty? %>

  <h2>Memberships</h2>

  <ul>
    <% @user.tea_clubs.each do |tea_club| %>
      <li><%= link_to tea_club.name, tea_club_path(tea_club) %></li>
    <% end %>
  </ul>

<% end %>

<% if currently_signed_in?(@user) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', users_path %>
