<h1>Listing ratings</h1>

<% cache('ratings', :skip_digest => true, :expires_in => 10.minutes) do %>

  <p>Total number of ratings: <%= @ratings.count %></p>

  <div class='row'>

    <% unless @top_teas.empty? %>

      <div class='span4'>

        <h2>Top teas</h2>

        <%= render 'list', :top => @top_teas %>

      </div>

    <% end %>

    <% unless @top_varieties.empty? %>

      <div class='span4'>

        <h2>Top varieties</h2>

        <%= render 'list', :top => @top_varieties %>

      </div>

    <% end %>

    <% unless @top_breweries.empty? %>

      <div class='span4'>

        <h2>Top breweries</h2>

        <%= render 'list', :top => @top_breweries %>

      </div>

    <% end %>

    <% unless @top_active_users.empty? %>

      <div class='span8'>

        <h2>Most active users</h2>

          <table class='table table-hover'>
            <thead>
              <tr>
                <th></th>
                <th>Favourite tea</th>
                <th>Favourite variety</th>
                <th>Favourite brewery</th>
                <th>Ratings</th>
              </tr>
            </thead>

            <tbody>
              <% @top_active_users.each do |user| %>
                <tr>
                  <td><%= link_to user.username, user %></td>
                  <td><% unless user.favourite_tea.nil? %><%= link_to user.favourite_tea.name, user.favourite_tea %><% end %></td>
                  <td><% unless user.favourite_variety.nil? %><%= link_to user.favourite_variety, user.favourite_variety %><% end %></td>
                  <td><% unless user.favourite_brewery.nil? %><%= link_to user.favourite_brewery.name, user.favourite_brewery %><% end %></td>
                  <td><%= user.ratings.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>

    <% end %>

  </div>

  <% unless @recent_ratings.empty? %>

    <h2>Recent ratings</h2>

    <ul>
      <% @recent_ratings.each do |rating| %>
        <li><%= round(rating) %> by <%= link_to rating.user.username, user_path(rating.user) %></li>
      <% end %>
    </ul>

  <% end %>

<% end %>

<%= link_to 'New Rating', new_rating_path, :class => 'btn' unless current_user.nil? %>
