<p id="notice"><%= notice %></p>

<h1><%= @brewery.name %></h1>

<i>Established in <%= @brewery.year %></i>

<p>Number of teas: <%= @brewery.teas.count %></p>

<ul>
  <% @brewery.teas.each do |tea| %>
    <li><%= link_to tea.name, tea %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
