<p id="notice"><%= notice %></p>

<h1><%= @brewery.name %></h1>

<i>Established in <%= @brewery.year %></i>

<p>Number of teas: <%= @brewery.teas.count %></p>

<% unless @brewery.teas.empty? %>
  <ul>
    <% @brewery.teas.each do |tea| %>
      <li><%= link_to tea.name, tea %></li>
    <% end %>
  </ul>
<% end %>

<% if @brewery.ratings.empty? %>
  <p>No ratings.</p>
<% else %>
  <p><%= pluralize(@brewery.ratings.size, 'rating') %> with an average of <%= @brewery.average_rating %>.</p>
<% end %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
