<h1>Listing tea clubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>City</th>
      <% unless current_user.nil? %><th></th><% end %>
      <% unless current_user.nil? %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @tea_clubs.each do |tea_club| %>
      <tr>
        <td><%= link_to tea_club.name, tea_club %></td>
        <td><%= tea_club.founded %></td>
        <td><%= tea_club.city %></td>
        <% unless current_user.nil? %><td><%= link_to 'Edit', edit_tea_club_path(tea_club) %></td><% end %>
        <% unless current_user.nil? %><td><%= link_to 'Destroy', tea_club, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tea club', new_tea_club_path unless current_user.nil? %>
