<p id="notice"><%= notice %></p>

<h1><%= @tea_club.name %></h1>

<p>
  <strong>Founded:</strong>
  <%= @tea_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @tea_club.city %>
</p>

<% unless @tea_club.members.empty? %>

  <h2>Members</h2>

  <ul>
    <% @tea_club.members.each do |member| %>
      <li><%= link_to member.username, user_path(member) %></li>
    <% end %>
  </ul>

<% end %>

<% unless current_user.nil? %>

  <%= form_for(@membership) do |f| %>

    <%= f.hidden_field :tea_club_id, :value => @tea_club.id %>

    <div class='actions'>
      <%= f.submit 'Join' %>
    </div>

  <% end %>

<% end %>

<%= link_to 'Edit', edit_tea_club_path(@tea_club) %> |
<%= link_to 'Back', tea_clubs_path %>
