<!DOCTYPE html>
<html>
<head>
  <title>Ratetea</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>

  <ul>
    <li><%= link_to 'Breweries', breweries_path %></li>
    <li><%= link_to 'Varieties', varieties_path %></li>
    <li><%= link_to 'Teas', teas_path %></li>
    <li><%= link_to 'Ratings', ratings_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Tea Clubs', tea_clubs_path %></li>
    <li><%= link_to 'Places', places_path %></li>
  </ul>

  <ul>
    <% if current_user.nil? %><li><%= link_to 'Login', login_path %></li><% end %>
    <% if current_user.nil? %><li><%= link_to 'Signup', signup_path %></li><% end %>
    <% unless current_user.nil? %><li><%= link_to current_user.username, current_user %></li><% end %>
    <% unless current_user.nil? %><li><%= link_to 'Rate a Tea', new_rating_path %></li><% end %>
    <% unless current_user.nil? %><li><%= link_to 'Join a Tea Club', new_membership_path %></li><% end %>
    <% unless current_user.nil? %><li><%= link_to 'Logout', logout_path, method: :delete %></li><% end %>
  </ul>

</nav>

<%= yield %>

</body>
</html>
